.dashboard {
  width: 80%;
  height: 70vh;
  margin: 10vh auto;
  text-align: center;
  background: $blue;
  border-radius: 1vh;
}

.dashboard h1 {
  padding-top: 5vh;
  color: white;
}

.dashboard h2 {
  color: white;
}

#dashboard-line-break {
  width: 100%;
  background: white;
  height: 2px;
  margin-top: 2vh;
}
