.login-page {
  background-color: $blue;
  color: white;
  height: 100vh;
  text-align: center;
  padding-top: 10vh;
}

.login-page input {
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.login-page button {
  outline: 1px solid $blue;
  border: none;
  background-color: white;
  color: $blue;
  border-radius: 0.5rem;
}

.register-link {
  color: white;
}

.register-link:hover {
  color: $light-grey
}
