#my-bookings {
  margin: 10vh auto;
  width: 20%;
}

#booking-date {
  outline: 1px solid white;
  padding: 2vh;
}

#booking-date-h1 {
  margin-top: 2vh;
}

#booking-time {
  margin-top: 2vh;
  padding-bottom: 1vh;
  border-bottom: 1px solid white;
}
