html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $off-black;
  font-size: $m-size;
  padding: 0;
  color: white;
}

body h1 {
  margin: 0
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

i {
  cursor: pointer;
}

.ui.blue.massive.inverted.stackable.nav-header.menu {
  margin-bottom: 0;
}
