// Colors
$teal: #00B5AD;
$light-teal: rgba(0, 181, 173,0.1);
$off-black: #383838;
$red: #ff2d2d;
$blue: #2185D0;
$dark-blue: #1a6fad;
$faded-blue: rgba(33, 133, 208, 0.2);
$light-grey: #ededed;
$off-white: #f7f7f7;
$grey: #636363;

//SPacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
